<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6950d096-ab03-47c7-8ed4-eea275e81170/resourcegroups/DefaultResourceGroup-PAR/providers/Microsoft.Web/sites/Nokta-AppService</ResourceId>
    <ResourceGroup>DefaultResourceGroup-PAR</ResourceGroup>
    <ApiResourceId>/subscriptions/6950d096-ab03-47c7-8ed4-eea275e81170/resourceGroups/DefaultResourceGroup-PAR/providers/Microsoft.ApiManagement/service/Nokta-APIapi/apis/Nokta-API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nokta-appservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>20ca5368-7fa7-4dc0-9999-7440873a8db0</ProjectGuid>
    <MSDeployServiceURL>nokta-appservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Nokta-AppService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>